* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* CSS reset */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@500&display=swap");

body {
  background-color: #ffeedf;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 995px) {
    height: auto;
  }
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 62px;

  @media screen and (max-width: 995px) {
    flex-direction: column;
    gap: 62px;
    align-items: center;
    margin: 62px auto;
  }
}

.biz-card-all {
  width: 290px;
  height: 416px;
  padding: 27px 27px;

  background-color: #fff;
}

h2 {
  font-family: "EB Garamond", serif;
  color: #33793f;
  font-size: 48px;
  font-weight: normal;
}

h6 {
  margin: 15px 0;

  font-family: "Montserrat", sans-serif;
  color: #999;
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.1em;
}

p {
  margin: 30px 0;

  color: #999;
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: normal;
}
